.task-preview {
  &-wrapper {
    max-width: 300px;
    min-height: 20px;
    margin-bottom: 8px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 #091e4240;
    font-size: 14px;
    line-height: 20px;
    // important is not best practice
    //when there is time find a way to replace it
    cursor: pointer !important;
    display: block;
    position: relative;
    text-decoration: none;
    z-index: 0;
    &:hover {
      background-color: #f4f5f7;
      border-bottom-color: #091e4240;
    }
  }
  &-container {
    overflow: hidden;
    padding: 6px 8px 2px;
    position: relative;
    z-index: 10;
  }

  &-title {
    word-wrap: break-word;
    clear: both;
    color: #172b4d;
    display: block;
    margin: 0 0 4px;
    overflow: hidden;
    text-decoration: none;
  }

  &-image {
    height: 163.33333333333334px;
    background-color: #252e32;
    // background-image: url(https://trello-backgrounds.s3.amazonaws.com/SharedBackground/960x640/e978304…/photo-1653496905343-b1fc1277e3fa.jpg);
    background-image: url(https://unsplash.it/300/300);
    // background-image: url(https://source.unsplash.com/random);
    background-size: cover;
    border-radius: 3px;
  }
}

.label-container {
  // see what you dont need from here later
  --dynamic-background-color: hsla(0, 0%, 0%, 0.16);
  --dynamic-icon-color: #ffffff;
  --dynamic-text-color: #ffffff;
  --dynamic-text-color-transparent: hsla(0, 0%, 100%, 0.16);
  --dynamic-background-color-transparent: hsla(0, 0%, 0%, 0.16);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  user-select: none;
  white-space: normal;
  color: #172b4d;
  cursor: pointer;
  overflow: auto;
  position: relative;
}

//might need to refactor see if theres an easier way to get the selector
.task-preview-container .label-container:hover .label-preview ~ .label-preview,
.task-preview-container .label-container:hover .label-preview    {
    box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.2);
  }

.label-preview {
  float: left;
  font-size: 12px;
  font-weight: 700;
  height: 8px;
  line-height: 100px;
  margin: 0 4px 4px 0;
  max-width: 40px;
  min-width: 40px;
  padding: 0;
  text-shadow: none;
  width: auto;
  border-radius: 4px;
  // background-color: #c377e0;
  &:hover {
    // background-color: darken($color: #c377e0, $amount: 20%);
    // box-shadow:inset 0 0 0 500px rgba(0,0,0,0.2);
  }
}
