.group-preview-wrapper {
    height: 100%;
    background-color: #717e92;
    margin: 10px;

}

.group-preview {
    max-height: 100%;
    width: 200px;
    margin: 10px;

    .action-modal {
        position: absolute;
    }
}