.background-teaser-container {
    .board-background {
        align-items: center;
        display: flex;
        margin-top: 8px;
    }

    .image-container {
        box-sizing: border-box;
        color: #172b4d;
        cursor: pointer;
        font-size: 14px;
        margin-bottom: 15px;
        padding: 0 4px;
        position: relative;
        text-align: center;
        transition: .2s ease-in-out;
        width: 50%;

        &:hover {
            opacity: .7;
        }

        &.background-color-teaser {
            padding-left: 0;
            padding-right: 8px;
        }

        img {
            border-radius: 8px;
            height: 96px;
            width: 100%;
        }
    }
}