.toolbar {
  height: auto;
  padding: 8px 4px 4px 12px;
  position: fixed;
  display: flex;
  z-index: 2;
//   justify-content: space-between;
  width: 100%;
  
  &-right,
  &-left {
      display: flex;
      flex: 1;
  }
  &-right {
    flex-direction: column;
  }
  // justify-content: center;
  // align-items: center;
}
//     &-left {
//         float: left;
//     }

//     &-right {
//         float: right;
//     }
// }

// .toolbar-btn {
//     background-color: hsla(0, 0%, 41%, 0.651);
//     border-radius: 3px;
//     cursor: default;
//     float: left;
//     font-size: 14px;
//     height: 32px;
//     margin: 0 4px 4px 0;
//     position: relative;
//     text-decoration: none;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.board-toolbar-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  padding: 0 12px;
  color: #fff;
  line-height: 1;
  margin-top: 5px;
}

.toolbar-btn {
  border-radius: 3px;
  color: #fff;
  cursor: default;
  background-color: #ffffff3d;
  float: left;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  margin: 0 4px 4px 0;
  max-width: 400px;
  overflow: hidden;
  padding-left: 32px;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  
}

.toolbar-divider {
    border-left: 1px solid #ffffff3d;
    float: left;
    height: 16px;
    margin: 8px 8px 12px 4px;
}


.toolbar-members {
    display: flex;
    width: 18%;
    justify-content: space-between;
    align-items: center;
}

.toolbar-menu-btn {
    align-self: flex-end;
}